<!--<div class="emma-testimonials emma-section">
    <div>
        <div class="emma-testimonials__subtitle">
            {{ section.settings.testimonial_subtitle }}
        </div>
        <div class="emma-testimonials__heading">
            {{ section.settings.testimonial_title }}
        </div>
    </div>
    <div>
        <div id='bundle-product_reviews'></div>
    </div>
</div>--!>

{% schema %}
  {
    "name": "Product Testimonials",
    "settings": 
        [{ 
            "id": "testimonial_subtitle", 
            "type": "text", 
            "label": "Title", 
            "default": "Customer Reviews."
        },
        { 
            "id": "testimonial_title", 
            "type": "text", 
            "label": "Title", 
            "default": "Why customers love Emma."
        }]
  }
{% endschema %}