<!---<div class="emma-testimonials page-width">
    <div>
        <div class="emma-testimonials__subtitle">
            Customer Reviews
        </div>
        <div class="emma-testimonials__heading">
            Why customers love Emma.
        </div>
    </div>
    <div>
      <div id='bundle-product_reviews'></div>
    </div>
  </div>---!>

{% schema %}
  {
    "name": "Product Testimonials"
  }
{% endschema %}