<div class="emma-product-section1 emma--relative">
    <div class="emma-product-section1__vector">
      <div></div>
    </div>

    <div class="page-width emma-product-section1__container" data-aos="fade-right" data-aos-duration="2000">
      <div class="emma--relative emma-product-section1__img-container">
        <img class="emma-product-section1__img" src="https://cdn.shopify.com/s/files/1/0592/8570/0771/files/Emma-mattress1.png" />
        <div class="emma-product-section1__circle emma-wave emma-wave--one"><div></div></div>
        <div class="emma-product-section1__circle emma-wave emma-wave--two"><div></div></div>
        <div class="emma-product-section1__circle emma-wave emma-wave--three"><div></div></div>
      </div>

      <div data-aos="fade-left" data-aos-duration="3000" class="emma-product-section1__img-container">
        <div class="emma-product__heading emma-product__heading--orange">&nbsp;</div>
        <img src="https://cdn.shopify.com/s/files/1/0592/8570/0771/files/Emma-mattress2.png?v=1633934765" />
      </div>
    </div>
  </div>

  {% schema %}
  {
    "name": "t:sections.product-two-assets"
  }
{% endschema %}
