<div class="emma-product-section5 page-width">
    <div class="emma-product-section5__header">
      <div class="emma-product__heading emma-product__heading--indigo">{{ section.settings.mattress_heading }}</div>
    </div>
    <div class="emma-product-section5__grid">
      <div class="emma-product-section5__text">
        {{ section.settings.mattress_body }}
      </div>
      <div class="emma-product-section5__img">
        <img src="{{ section.settings.mattress_image |  img_url: '660x'}}">
      </div>
    </div>
  </div>

  {% schema %}
  {
    "name": "Emma Mattress Description",
    "settings": [
        {
          "id": "mattress_heading",
          "type": "text",
          "label": "Heading",
          "default": "Under the Covers"
        },
        {
          "id": "mattress_body",
          "type": "richtext",
          "label": "Add custom text below",
          "default": "<p>Add your text here</p>"
        },
        {
          "type":"image_picker",
          "id":"mattress_image",
          "label":"Image"
        }
      ]
  }
{% endschema %}