<style>
    .emma-product-accordion {
        padding-top: 6rem;
    }

    @media screen and (max-width: 768px) {
        .emma-product-accordion {
            padding-top: 0;
        }
    }
</style>

<div class="emma-accordion emma-product-accordion">
{% for block in section.blocks %}
    <div class="accordion">
        {{block.settings.question}}
        <span>&nbsp;</span>
    </div>
    <div class="container">
        <div class="content">
            <p>{{block.settings.answer}}</p>
        </div>
    </div>
{% endfor %}
</div>


<script type="text/javascript" src="{{ 'jquery_accordion.js' | asset_url }}"></script>
<script type="text/javascript">
$(document).ready(function() {
$('.accordion').accordion({
cookieName: 'accordion_nav'
});
});
</script>

{% schema %}
  {
    "name": "Emma Product Accordion",
    "settings": [],
    "blocks":[
        {
           "type":"slide",
           "name":"Question",
           "settings":[
              {
                 "type":"text",
                 "id":"question",
                 "label":"Question",
                 "default": "Question"
              },
              {
                "type": "richtext",
                 "id":"answer",
                 "label": "Add custom text below",
                 "default": "<p>Add your text here</p>"
              }
           ]
        }
     ]
  }
{% endschema %}