* {
  font-variant-ligatures: none;
}

html {
  scroll-padding-top: 10rem;
  color: #2e2f3c;
}

body {
  font-family: 'Inter';
}

model-viewer::part(default-progress-mask) {
  display: none;
}

model-viewer::part(default-progress-bar) {
  display: none;
}



/* Buttons */
.menu-btn {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 10px 16px 8px 16px;
}

.btn {
  display: inline-block;
  font-family: 'acumin-pro';
  font-weight: 600;
  cursor: pointer;
  border-radius: 1.5rem;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  font-family: 'Inter';
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

/* Navigation Items */
.mattresses:hover .mattresses-dropdown{
  display: flex;
}

.beds:hover .beds-dropdown{
  display: flex;
}

.accessories:hover .accessories-dropdown{
  display: flex;
}

.gradient-background {
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 137, 0, 0.3) 100%);
}

.card {
  display: flex;
  flex-flow:column;
  justify-content: space-between;
}

.linear-gradient-bg:hover {
  background: linear-gradient(180deg, #ffdeb7 0%, #ffa235 100%);
  transition: opacity 5s linear;
}
.card:hover .gradient-background {
  background: linear-gradient(0deg, #FFFFFF 0%, rgb(255, 137, 0) 100%);
}

@media (min-width: 1024px) {
.gradient-background {
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 137, 0, 0.3) 100%);
  }
}

.sale-bagde {
 color: white;
 background-color: #F03306;
 width: max-content;
 border-radius: 4px;
 padding: 4px;
 font-size: 11px;
 font-weight: bold;
}
