@mixin dots($count, $color) {
    $text-shadow: ();
    @for $i from 0 through $count {
        $text-shadow: $text-shadow, (-.5+(random()) * 3) + em (-.5+(random()) * 3) + em 20px $color;
    }
    text-shadow: $text-shadow;
}

.emma-home-hero__background {
    position: absolute;
    width: 100%;
    height: calc(100% + 13rem);
    background: transparent;
    top: -13rem;
    font: 5vmin/1.3 Serif;
    overflow: hidden;
    background: white;
    display: block;
    font-size: 52px;
    color: transparent;
    z-index: 0;
}

.emma-home-hero__background__animations {
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
    display: block;
    font-size: 52px;
    color: transparent;
    overflow: hidden;
    font: 10vmin/1.3 Serif;
}

.emma-home-hero__background__animations::before,
.emma-home-hero__background__animations::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: '.';
    mix-blend-mode: multiply;
    animation: 20s -27s move infinite ease-in-out alternate;
    z-index: -1;
}

.emma-home-hero__background__animations::before {
    @include dots(150, rgba(255, 162, 54, 1));
    animation-duration: 44s;
    animation-delay: -27s;
}

.emma-home-hero__background__animations::after {
    @include dots(50, rgba(77, 86, 255, 1));
    animation-duration: 43s;
    animation-delay: -32s;
}

@keyframes move {
    from {
        transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
        transform: rotate(360deg) scale(18) translateX(20px);
    }
}

$aos-distance: 100px !default;
[data-aos^='fade-slowly'][data-aos^='fade-slowly'] {
    opacity: .9;
    transition-property: opacity, transform;
    transform: translate3d(0, $aos-distance, 0);
    &.aos-animate {
        opacity: 1;
        transform: none;
    }
}

.emma-background-circle {
    background: linear-gradient(154.45deg, #FFA236 9.76%, rgba(255, 162, 54, 0.25569) 45.86%, rgba(255, 162, 54, 0) 89.77%);
    border-radius: 100%;
    box-shadow: 0 0 0 0 rgba(255, 162, 54, 1);
    transform: scale(1);
    animation: circle-pulse 7s infinite;
}

@keyframes circle-pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 10px 0 rgba(255, 162, 54, 0.5);
    }
    50% {
        transform: scale(1);
        box-shadow: 0 0 50px 50px rgba(255, 162, 54, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 10px 0 rgba(255, 162, 54, 0);
    }
}

.emma-home-subhero__circle {
    position: absolute;
    background: linear-gradient(180deg, #FFA236 0%, rgba(255, 162, 54, 0) 100%);
    border-radius: 100%;
}

.emma-showcase__circle {
    position: absolute;
    height: 62rem;
    width: 62rem;
    bottom: -15%;
    background: linear-gradient(135deg, #FFEAD2 32.39%, rgba(255, 193, 121, 0) 82.8%);
    border-radius: 100%;
    right: 0;
    z-index: -1;
}

.emma-wave {
    opacity: .4;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 10000ms infinite linear;
}

.emma-wave--two {
    animation: drift 5000ms infinite linear;
    opacity: .1;
}

.emma-wave--three {
    animation: drift 25000ms infinite linear;
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}