.emma-home-hero__background {
  position: absolute;
  width: 100%;
  height: calc(100% + 13rem);
  background: transparent;
  top: -13rem;
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: white;
  display: block;
  font-size: 52px;
  color: transparent;
  z-index: 0; }

.emma-home-hero__background__animations {
  position: relative;
  height: 100%;
  width: 100%;
  background: transparent;
  display: block;
  font-size: 52px;
  color: transparent;
  overflow: hidden;
  font: 10vmin/1.3 Serif; }

.emma-home-hero__background__animations::before,
.emma-home-hero__background__animations::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: '.';
  mix-blend-mode: multiply;
  animation: 20s -27s move infinite ease-in-out alternate;
  z-index: -1; }

.emma-home-hero__background__animations::before {
  text-shadow: 0.5613129181em 0.8397288893em 20px #ffa236, 1.120129679em 1.1394818301em 20px #ffa236, -0.3783022974em 2.3443624548em 20px #ffa236, -0.0423319532em 0.790139578em 20px #ffa236, 0.6588445807em -0.2685302562em 20px #ffa236, 0.4662711241em 0.7148919294em 20px #ffa236, -0.4249614174em 0.3648253706em 20px #ffa236, -0.1766285198em -0.0190228189em 20px #ffa236, -0.495678911em 2.4966847529em 20px #ffa236, 2.063923136em 1.2449047673em 20px #ffa236, 1.8011265216em 0.7007912105em 20px #ffa236, 0.2367765294em 0.3654114153em 20px #ffa236, 2.2917494413em -0.2357555646em 20px #ffa236, 1.6936284053em 0.2239968766em 20px #ffa236, -0.2092726399em 0.5434385315em 20px #ffa236, 2.36842092em 0.356377643em 20px #ffa236, -0.4723241453em 0.6652291115em 20px #ffa236, 0.5928637552em 2.0844489623em 20px #ffa236, 1.4232023162em 1.5612195498em 20px #ffa236, -0.0728169902em 1.2003414085em 20px #ffa236, 0.8990297784em 2.1925729194em 20px #ffa236, -0.4978090816em 1.1042306296em 20px #ffa236, -0.4012168665em 1.01349483em 20px #ffa236, 1.7027383254em -0.1445992985em 20px #ffa236, 1.1685823057em -0.2871575336em 20px #ffa236, 0.0350691em -0.3222610784em 20px #ffa236, 0.6391758566em 2.1909569217em 20px #ffa236, -0.4317769163em 1.3413401949em 20px #ffa236, 2.4002527435em 0.7867296466em 20px #ffa236, 0.0357426456em 0.1397320878em 20px #ffa236, 2.4810403388em 2.3699692718em 20px #ffa236, 1.5747690372em 1.5605744357em 20px #ffa236, 1.1020643091em 1.6332116623em 20px #ffa236, 1.9350240929em 1.4961344616em 20px #ffa236, 0.0719121726em -0.4511113759em 20px #ffa236, 2.0690724986em 1.4103828936em 20px #ffa236, 1.6484254696em -0.2049364853em 20px #ffa236, -0.098729135em 1.8798070175em 20px #ffa236, 1.0047497124em 2.0287573608em 20px #ffa236, 1.6601292344em 0.7011432626em 20px #ffa236, 1.2098745961em 1.4834723631em 20px #ffa236, 1.1139440672em 2.2523994053em 20px #ffa236, 2.1346360104em 1.5483883315em 20px #ffa236, 1.19881855em 0.5364407061em 20px #ffa236, 0.3075116202em -0.4829722902em 20px #ffa236, -0.0813272467em -0.2762006988em 20px #ffa236, 1.3277849586em 1.9053930527em 20px #ffa236, 1.3895227777em 2.0420058184em 20px #ffa236, 1.636118608em 1.4468918492em 20px #ffa236, 0.7890572957em 0.6655644059em 20px #ffa236, -0.3225565107em 1.8178709448em 20px #ffa236, 2.471604182em 2.0101723149em 20px #ffa236, 1.2653988154em 1.9459588308em 20px #ffa236, 0.0737506012em 0.9570771786em 20px #ffa236, 1.3430126017em 1.994140234em 20px #ffa236, 1.1610228059em 0.8997258529em 20px #ffa236, -0.4574315304em 0.7128390186em 20px #ffa236, -0.4303707159em 1.2899624461em 20px #ffa236, 0.0798672461em -0.0609184527em 20px #ffa236, -0.1762771887em 1.0590995268em 20px #ffa236, 1.4593732534em 1.5387639029em 20px #ffa236, 2.1439839762em 0.1999925139em 20px #ffa236, 1.8855845475em 1.4276129762em 20px #ffa236, 1.2499913537em 1.7184826986em 20px #ffa236, 2.466145226em 1.2115470501em 20px #ffa236, 1.0712612161em 1.6391539048em 20px #ffa236, 0.113527155em -0.2974232185em 20px #ffa236, -0.0533988924em 1.2225832799em 20px #ffa236, 1.5996680187em 2.1474441388em 20px #ffa236, 0.3123851546em 1.0587988196em 20px #ffa236, 2.0853384995em 0.7222110928em 20px #ffa236, 1.1435385103em 0.9618794228em 20px #ffa236, 0.9413962797em 1.1591433691em 20px #ffa236, 0.3191040044em -0.1641001593em 20px #ffa236, 1.3512904089em 2.3775088029em 20px #ffa236, 1.040873999em 1.3330821767em 20px #ffa236, 1.4293369536em 0.0572980992em 20px #ffa236, 0.8700735773em -0.0206817336em 20px #ffa236, 2.0129612721em 2.3293636127em 20px #ffa236, 1.8519224061em 2.3508004413em 20px #ffa236, 1.3377188756em 2.1351672571em 20px #ffa236, -0.320810817em 0.1180128434em 20px #ffa236, 2.3310861788em 0.4689433621em 20px #ffa236, 2.0245246749em 1.2787258553em 20px #ffa236, -0.1109514263em 0.3546168803em 20px #ffa236, 1.8647700705em 1.6024565668em 20px #ffa236, 1.9746054734em 0.363569475em 20px #ffa236, -0.112631468em 0.7343036017em 20px #ffa236, 2.1247956518em 0.4629839572em 20px #ffa236, -0.3420577702em 1.6382610851em 20px #ffa236, 1.2900408783em 0.7749938816em 20px #ffa236, 2.2715322566em 2.1540904694em 20px #ffa236, 0.7354976352em 0.0746407331em 20px #ffa236, 0.0311072578em 1.2184480112em 20px #ffa236, 0.9414456999em 2.0042635427em 20px #ffa236, 2.0823176433em 0.994551953em 20px #ffa236, -0.3137206683em 0.8749180267em 20px #ffa236, 1.3579127173em 0.642504007em 20px #ffa236, 0.5075773821em 1.6552528959em 20px #ffa236, 2.0684909349em 1.2338173926em 20px #ffa236, 2.4195280445em 1.1703572684em 20px #ffa236, 0.2024182217em 1.604850397em 20px #ffa236, 0.6285246426em 0.6867232442em 20px #ffa236, 0.789647401em 1.5265764791em 20px #ffa236, 1.0703122995em 1.0925425775em 20px #ffa236, 1.7630304791em 1.8553477129em 20px #ffa236, 0.4506075882em 1.4327694215em 20px #ffa236, 2.143088435em 0.7633494857em 20px #ffa236, -0.2003576703em -0.4806623965em 20px #ffa236, 1.8727648077em 1.27278748em 20px #ffa236, 1.1581126646em 1.8980390785em 20px #ffa236, 2.1870721291em -0.4111021201em 20px #ffa236, -0.3892709045em 0.5724984551em 20px #ffa236, 2.2072720964em 1.8125846549em 20px #ffa236, 2.2750818208em 1.0419748733em 20px #ffa236, 1.4327183009em 2.2480428126em 20px #ffa236, 0.197634571em 0.4946271125em 20px #ffa236, 0.7124247782em 1.6813936443em 20px #ffa236, 0.4934222264em 2.3638792545em 20px #ffa236, 2.1451711341em -0.1154813172em 20px #ffa236, 0.794398307em 1.5854921187em 20px #ffa236, 1.4542287506em -0.3532671113em 20px #ffa236, 2.4663935107em -0.242374457em 20px #ffa236, 0.2669004823em 1.749756637em 20px #ffa236, 0.392250908em -0.1169988994em 20px #ffa236, 0.8423439689em 1.9598343106em 20px #ffa236, 1.3488156789em 0.231705416em 20px #ffa236, 1.5741167935em 2.3618845805em 20px #ffa236, -0.2513615844em 1.9286574109em 20px #ffa236, 0.7312138194em 0.5640159341em 20px #ffa236, 1.8222397579em 0.6466300976em 20px #ffa236, 0.2443318806em 1.1552745766em 20px #ffa236, -0.0898245215em 1.5290326004em 20px #ffa236, -0.3798848243em 1.8583645483em 20px #ffa236, 0.2695488352em -0.2069638959em 20px #ffa236, 1.400882621em 1.5118517472em 20px #ffa236, 0.7144007126em 1.0587639089em 20px #ffa236, -0.4391760614em 2.4804319795em 20px #ffa236, 2.4891903116em -0.0794094879em 20px #ffa236, 0.5832596119em 0.4717889066em 20px #ffa236, 2.401464282em 1.5715224531em 20px #ffa236, 0.5948011655em 1.4378200692em 20px #ffa236, -0.220569758em 0.2050473857em 20px #ffa236, 0.803489463em 2.1312543337em 20px #ffa236, 0.5810721139em -0.3927474029em 20px #ffa236, 0.7722768083em 0.4510417251em 20px #ffa236, -0.3704942707em 1.4412182143em 20px #ffa236, 0.3137359438em 0.0858179452em 20px #ffa236, 0.9741932723em 1.4582256579em 20px #ffa236, 2.1695365388em 1.4495482052em 20px #ffa236, 2.1719406845em 1.0613893321em 20px #ffa236;
  animation-duration: 44s;
  animation-delay: -27s; }

.emma-home-hero__background__animations::after {
  text-shadow: 0.1923337857em 2.1608380635em 20px #4d56ff, 2.2885142315em -0.4499654373em 20px #4d56ff, 1.7376384631em 1.762104462em 20px #4d56ff, 1.2307860554em 1.5116843131em 20px #4d56ff, 0.7670855811em 1.9724672116em 20px #4d56ff, -0.3763510951em 0.6662533327em 20px #4d56ff, 0.8549639096em 2.3695545508em 20px #4d56ff, -0.2457966931em -0.4438474636em 20px #4d56ff, 1.7693087076em -0.0670424733em 20px #4d56ff, -0.3170403659em 1.7041767184em 20px #4d56ff, 1.0606592909em 0.0090969152em 20px #4d56ff, -0.4372043981em 1.1690438822em 20px #4d56ff, 1.8433435129em 1.0874917918em 20px #4d56ff, 0.6590369448em 0.6211354343em 20px #4d56ff, 0.7380385619em 0.2959592538em 20px #4d56ff, 1.4467539171em 0.9282043699em 20px #4d56ff, 0.402412949em -0.24941228em 20px #4d56ff, 2.4425829409em -0.2148673652em 20px #4d56ff, 1.5954202074em -0.1270655657em 20px #4d56ff, 1.9345460034em 0.164328632em 20px #4d56ff, 0.1428073128em 0.2416497567em 20px #4d56ff, 0.3907330613em -0.3676004501em 20px #4d56ff, 0.8761725765em 1.2336643521em 20px #4d56ff, 2.4883821751em 0.4863682953em 20px #4d56ff, 2.4984194979em 1.040218279em 20px #4d56ff, 2.0883254865em 0.8311961576em 20px #4d56ff, 1.7094480738em 0.7259057934em 20px #4d56ff, 1.4834893576em 0.5536181294em 20px #4d56ff, 0.0457542547em 0.3377391963em 20px #4d56ff, 1.5277124632em -0.0483874501em 20px #4d56ff, 0.3571768299em 0.4261757728em 20px #4d56ff, 1.0934326261em 1.4949958384em 20px #4d56ff, 1.3118621143em 1.5028949771em 20px #4d56ff, 0.4500216179em 2.3016901123em 20px #4d56ff, -0.0352018652em -0.4884431143em 20px #4d56ff, 0.9317145201em 1.7356220006em 20px #4d56ff, 2.4944407164em -0.2042431697em 20px #4d56ff, 0.7427937331em 0.8659616847em 20px #4d56ff, 1.6594590757em 1.3033223989em 20px #4d56ff, 1.1443493105em 2.4992118027em 20px #4d56ff, 0.4350518769em 0.7960669407em 20px #4d56ff, -0.3150099129em 1.0161416365em 20px #4d56ff, 1.0275482722em 1.6717348009em 20px #4d56ff, 2.2811494088em 1.0640039889em 20px #4d56ff, 0.9376820496em 0.1849584616em 20px #4d56ff, -0.4960443672em 0.7880545912em 20px #4d56ff, 1.9528447761em 2.033717795em 20px #4d56ff, 2.3058403749em 0.029472914em 20px #4d56ff, 1.7415110946em 1.7064029365em 20px #4d56ff, -0.0460024877em 1.0552436121em 20px #4d56ff, 1.8445755515em 0.9226547891em 20px #4d56ff;
  animation-duration: 43s;
  animation-delay: -32s; }

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px); }
  to {
    transform: rotate(360deg) scale(18) translateX(20px); } }
[data-aos^='fade-slowly'][data-aos^='fade-slowly'] {
  opacity: .9;
  transition-property: opacity, transform;
  transform: translate3d(0, 100px, 0); }
  [data-aos^='fade-slowly'][data-aos^='fade-slowly'].aos-animate {
    opacity: 1;
    transform: none; }

.emma-background-circle {
  background: linear-gradient(154.45deg, #FFA236 9.76%, rgba(255, 162, 54, 0.25569) 45.86%, rgba(255, 162, 54, 0) 89.77%);
  border-radius: 100%;
  box-shadow: 0 0 0 0 #ffa236;
  transform: scale(1);
  animation: circle-pulse 7s infinite; }

@keyframes circle-pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 10px 0 rgba(255, 162, 54, 0.5); }
  50% {
    transform: scale(1);
    box-shadow: 0 0 50px 50px rgba(255, 162, 54, 0); }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 10px 0 rgba(255, 162, 54, 0); } }
.emma-home-subhero__circle {
  position: absolute;
  background: linear-gradient(180deg, #FFA236 0%, rgba(255, 162, 54, 0) 100%);
  border-radius: 100%; }

.emma-showcase__circle {
  position: absolute;
  height: 62rem;
  width: 62rem;
  bottom: -15%;
  background: linear-gradient(135deg, #FFEAD2 32.39%, rgba(255, 193, 121, 0) 82.8%);
  border-radius: 100%;
  right: 0;
  z-index: -1; }

.emma-wave {
  opacity: .4;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 10000ms infinite linear; }

.emma-wave--two {
  animation: drift 5000ms infinite linear;
  opacity: .1; }

.emma-wave--three {
  animation: drift 25000ms infinite linear; }

@keyframes drift {
  from {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }

/*# sourceMappingURL=emma-home-animations.css.map */
