.slider__slide {
    cursor: pointer;
}

.gradient {
    background: linear-gradient(0deg, #FFF6EB 0%, rgba(255, 246, 235, 0) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.product:not(.product--no-media):not(.featured-product) .product__media-wrapper {
    max-width: 50%;
    width: calc(64% - 1rem / 2);
}

.product:not(.product--no-media):not(.featured-product) .product__info-wrapper {
    padding-left: 8rem;
    max-width: 50%;
    width: calc(36% - 1rem / 2);
}

.product-slider:not(:first-child) {
    margin-left: 1.5rem;
}

.product-slider {
    height: 155px;
    width: 23%;
    display: inline-block;
}

.product__media-item>* {
    height: 100%;
}

.product__media {
    height: 100%;
}

.product__media-item:first-child {
    height: 100%;
}

.emma-product__title {
    font-family: Utopia Std, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 100%;
    color: #3C4196;
}

.emma-product__price {
    font-family: Acumin Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.emma-product__price .price--large,
.emma-product .price .price-item,
.price .price-item {
    font-size: 1.5rem;
}

.emma-product__price .price--sold-out,
.emma-product__price .price__availability,
.emma-product__price .price__regular {
    margin-bottom: 1rem;
}

.price--on-sale .price__sale {
    align-items: baseline;
}

.product .price {
    align-items: end;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
    display: inline-flex;
    font-size: 1rem;
}

.emma-product__description {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    padding-left: 1rem;
}

.field__input,
.select__select,
.customer .field input,
.customer select {
    height: 3rem;
}

.emma-variant-quantity {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: baseline;
}

.quantity__button {
    width: 3rem;
    flex-shrink: 0;
    font-size: 1rem;
}

.emma-product__variant {
    display: block;
    width: 100%;
    margin: 0;
}

.emma-product__quantity {
    display: block;
    width: 100%;
    padding-left: 20px;
    margin: 0;
    margin-top: -10px;
}

.quantity {
    height: 3rem;
    width: 100%;
}

.product-form__input .form__label {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #000000;
}

.product-form__input--dropdown {
    margin-bottom: 0;
}

.product-form__input {
    max-width: 100%;
}

.product-form__input .select {
    max-width: 100%;
}

.emma-product__variant .select__select {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #848484;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: none;
    font-family: Acumin Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 25px;
    color: #000000;
}

.emma-product__quantity .quantity {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #848484;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: none;
    font-family: Acumin Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 25px;
    color: #000000;
}

.emma-product-section1 {
    margin-top: 7rem;
    background-image: URL("https://cdn.shopify.com/s/files/1/0592/8570/0771/files/background-emma-product1.svg");
    background-position: right top;
    background-repeat: no-repeat;
    z-index: 1;
}

.emma-product-section1__vector {
    background: conic-gradient(from 180deg at 61.91% 77.53%, rgba(255, 162, 54, 0.29) 0deg, rgba(248, 201, 146, 0) 227.21deg, rgba(255, 162, 54, 0.29) 360deg);
    filter: blur(150px);
    transform: matrix(-0.96, 0, -0.3, -1, 0, 0);
    position: absolute;
    width: 50%;
    top: 212px;
    left: 0;
    height: 70%;
}

.emma-product-section1__container {
    display: flex;
    justify-content: space-evenly;
}

.emma-product__heading {
    font-family: Utopia Std, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 102%;
}

.emma-product__heading--orange {
    color: #FF8900;
}

.emma-product__heading--white {
    color: #FFF;
}

.emma-product__heading--indigo {
    color: #3C4196;
}

.emma-product__sub-heading {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #3C4196;
}

.emma-product-section1__container div:last-of-type {
    margin-top: 70px;
}

.emma-product-section1__container div:last-of-type .emma-product__heading {
    margin-bottom: 112px;
}

.emma-product-section1__container div:last-of-type img {
    margin-bottom: -40px;
}

.emma-product-section1__circle {
    position: absolute;
    top: 0;
    right: -70px;
}

.emma-product-section1__img-container img {
    max-width: 100%;
}

.emma-product-section1__img {
    display: block;
    z-index: 1;
    position: relative;
}

.emma-product-section2 {
    background: #3C4196;
    text-align: center;
    padding-top: 84px;
}

.emma-product-section2__background {
    position: absolute;
    top: -138%;
    left: -51%;
    background: linear-gradient( 157.91deg, rgba(255, 149, 26, 0) 44.6%, rgba(248, 201, 146, 0.49) 71.21%);
    filter: blur(150px);
    transform: matrix(0.9, -0.33, 0.49, 0.93, 0, 0);
    height: 85rem;
    width: 82rem;
    z-index: 10;
    mix-blend-mode: screen;
}

.emma-product-section2__asset img {
    margin-bottom: -11rem;
    /* position: relative;
    z-index: 11; */
}

.emma-product-section2 .emma-product__heading {
    margin-bottom: 15px;
}

.emma-product-section2__button {
    margin-top: 2rem;
    margin-bottom: -3rem;
}

.emma-product-section2 button {
    padding: 15px;
    width: 30%;
    box-shadow: 0px 82px 96px #ff8900;
}

.emma-product-section3 {
    padding: 120px 70px 40px;
    text-align: center;
}

.emma-product-section4 {
    padding-top: 115px;
    overflow-x: hidden;
}

.emma-product-section4__item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 12rem;
}

.emma-product-section4__item:last-of-type {
    margin-bottom: 200px;
    margin-top: 50px;
}

.emma-product-section4__item:nth-child(odd) {
    animation: fadeInRight;
    animation-duration: 2s;
}

.emma-product-section4__item:nth-child(even) {
    flex-direction: row-reverse;
}

.emma-product-section4__item__text {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    width: 600px;
}

.emma-product-section4__item__text div {
    margin-bottom: 10px;
}

.indigo-box {
    width: 560px;
    position: relative;
    height: 380px;
}

.indigo-box img {
    position: absolute;
    top: 26px;
    right: -16px;
    max-width: 100%;
    width: 100%;
}

.emma-product-section4__item:nth-child(even) .indigo-box img {
    left: -16px;
}

.indigo-box1 {
    background: linear-gradient(225.27deg, rgba(77, 86, 255, 0.65) 0.92%, #3C4196 94.47%);
}

.indigo-box2 {
    background: linear-gradient(225.27deg, rgba(77, 86, 255, 0.65) 0.92%, #3C4196 94.47%);
    transform: rotate(-0.62deg);
}

.indigo-box3 {
    background: linear-gradient(219.06deg, #3C4196 -9.19%, #A89BFF 94.88%);
}

.emma-product-section4__circle {
    position: absolute;
    width: 582px;
    height: 582px;
    border-radius: 100%;
    background: linear-gradient(135deg, #FFEAD2 32.39%, rgba(255, 193, 121, 0) 82.8%);
    top: -80px;
    left: -66px;
}

.emma-product-section0 {
    text-align: center;
    background-color: white;
    padding: 6rem 1rem;
}

.emma-product-section0 p {
    text-align: left;
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 43px;
    width: 50%;
    margin: 0 auto;
    margin-top: 2rem;
}

.emma-accordion {
    padding-top: 0;
}

.emma-product-section5 {
    overflow-x: clip;
}

.emma-product-section5__header {
    text-align: center;
}

.emma-product-section5__text {
    padding: 5rem 12rem;
}

.emma-product-section5__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emma-product-section5__img img {
    margin-right: -13rem;
    width: 46rem;
}

.emma-promotional-banner {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.emma-promotional-banner__heading {
    font-family: Utopia Std;
    text-transform: none;
    max-width: 28rem;
}


/* Others */

.button:not([disabled]):hover,
.shopify-challenge__button:hover,
.customer button:hover {
    box-shadow: none;
}

[data-aos].animated {
    visibility: visible;
}

#large-image {
    margin-top: 0;
}

.emma-wave {
    width: 500px;
    height: 500px;
}

.emma-bundle .vtl-rp-main-widget {
    border-bottom: 1px solid #FF8900;
}

.emma-bundle h2 {
    font-family: Proxima Nova, Acumin Pro, acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 100%;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.emma-bundle .vtl-ub-bundle-box__product-image-img {
    box-shadow: none;
    object-fit: cover;
    border-radius: 0;
    border: none;
}

.emma-bundle .vtl-rp-main-widget .vtl-product-carousel__slider-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.emma-bundle .vtl-rp-main-widget .vtl-product-card {
    width: 100%;
    padding: 0;
    margin: 0;
}

.emma-bundle .vtl-product-card {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 2rem;
}

.emma-bundle .vtl-product-card__header {
    display: grid;
    grid-template-columns: 7.5rem 1fr;
    width: 100%;
    max-height: 8rem;
}

.emma-bundle .vtl-product-card__discount-badge {
    left: 5.5rem;
}

.emma-bundle .vtl-product-card__image {
    height: 7.5rem;
    width: 7.5rem;
}

.emma-bundle .vtl-product-card__title {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 2rem;
}

.emma-bundle .vtl-ub-bundle-box__atc-section-content {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    line-height: 24px;
    align-items: center;
    color: #000000;
}

.emma-bundle .vtl-ub-bundle-box__total-price {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 62px;
    text-decoration-line: line-through;
    color: #848484;
    margin-left: 0;
}

.emma-bundle .vtl-ub-bundle-box__savings {
    box-sizing: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}

.emma-bundle .vtl-ub-bundle-box__product-checkbox {
    display: none;
}

.emma-bundle .vtl-ub-bundle-box__product:first-child .vtl-ub-bundle-box__product-title {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3C4196;
}

.emma-bundle .vtl-ub-bundle-box a,
.vtl-ub-bundle-box__product-price {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #3C4196;
    text-decoration: none;
}

.emma-bundle .vtl-product-card:hover {
    box-shadow: none;
    border: 0;
}

.emma-bundle .vtl-product-card__title-inner {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.54rem;
    line-height: 100%;
    color: #000000;
}

.emma-bundle .vtl-product-card__price {
    font-size: 1.1rem;
    line-height: 100%;
    color: #000000;
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    grid-area: price;
    text-align: center;
}

.emma-bundle .vtl-product-card__variant {
    grid-area: variety;
}

.emma-bundle .vitals-nice-select .cc-current {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
}

.emma-bundle .vtl-product-card__details {
    display: grid;
    grid-template-columns: 60% 1fr 1fr;
    align-items: center;
    grid-template-areas: 'variety price button';
    width: 100%;
}

.emma-bundle .vtl-product-card__variant-select {
    margin-top: 0;
}

.emma-bundle .vtl-product-card__atc-button {
    background: #FF8900;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    grid-area: button;
    margin-top: 0;
    width: 90%;
}

.emma-bundle .vtl-rp-main-widget .vtl-product-card__discount-badge {
    background: #CD4369!important;
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
}

.emma-discount-mechanics {
    background: rgba(255, 162, 54, 0.2);
    border-radius: 8px;
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
}

.emma-discount-mechanics__header {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #935207;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.emma-discount-mechanics__body {
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #935207;
}

.product {
    padding-bottom: 2rem;
}

.emma-scale {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.emma-scale__header {
    max-width: 50rem;
    margin: 0 auto;
}

.emma-scale__image {
    max-width: 40rem;
    margin: 3rem auto;
}

.emma-scale__image img {
    width: 100%;
    max-height: 20rem;
}

.emma-scale__body {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 179%;
    color: #000000;
    max-width: 50rem;
    margin: 0 auto;
    font-family: Proxima Nova, "proxima-nova", Acumin Pro, "acumin-pro", sans-serif;
}

.show-on-homepage {
    display: none;
}


/* Responsiveness */

@media screen and (max-width: 1450px) {
    .emma-product-section4__item__text {
        padding-left: 5rem;
    }
    .emma-product-section4__item:nth-child(even) .emma-product-section4__item__text {
        padding-right: 5rem;
    }
    .emma-product-section5__text {
        padding: 5rem;
    }
}

@media screen and (max-width: 1300px) {
    .emma-product-section1__img-container:first-of-type {
        padding-right: 5rem;
    }
    .emma-product-section1__img-container:last-of-type {
        padding-left: 5rem;
    }
    .indigo-box {
        width: 450px;
        height: 307px;
    }
    .indigo-box img {
        width: 450px;
    }
    .emma-product-section5__img img {
        width: 30rem;
    }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
    .emma-variant-quantity {
        grid-template-columns: 50% 50%;
    }
    .emma-bundle .vtl-product-card__details {
        grid-template-columns: 60% 1fr;
        grid-template-areas: 'variety price' 'button button';
    }
    .emma-bundle .vtl-product-card__atc-button {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .emma-product-section1 {
        max-width: 100vw;
        overflow-x: hidden;
    }
    .emma-product-section2__background {
        max-width: 100vw;
    }
    .emma-product-section1__img-container {
        padding: 3rem;
    }
    .emma-wave {
        width: 300px;
        height: 300px;
    }
    .emma-product-section4__item {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 12rem;
        flex-wrap: wrap;
    }
    .emma-product-section4__item__text {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 992px) {
    .product:not(.product--no-media):not(.featured-product) .product__media-wrapper {
        max-width: 100%;
        width: 100%;
    }
    .product:not(.product--no-media):not(.featured-product) .product__info-wrapper {
        padding-left: 0;
        max-width: 100%;
        width: 100%;
    }
    .emma-product-section1__container {
        flex-wrap: wrap;
        height: fit-content;
        overflow: clip;
    }
    .emma-product-section2__asset img {
        width: 75vw;
    }
    .emma-product-section1__img-container:first-of-type {
        padding-right: 0;
    }
    .emma-product-section1__img-container:last-of-type {
        padding-left: 0;
    }
    .emma-product-section1__img-container {
        padding: 0;
    }
    .emma-product-section1__container div:last-of-type .emma-product__heading {
        margin-bottom: 5rem;
        text-align: center;
    }
    .emma-wave {
        width: 500px;
        height: 500px;
    }
    .emma-product__heading {
        font-size: 3rem;
    }
    .emma-product-section4__item__text {
        padding-left: 0;
    }
    .emma-product-section4__item:nth-child(even) .emma-product-section4__item__text {
        padding-right: 0;
    }
    .emma-product-section5__grid {
        flex-direction: column;
    }
    .emma-product-section5__img {
        width: 100%;
        position: relative;
        text-align: right;
    }
    .emma-product-section5__img img {
        margin-right: -5rem;
        margin-top: -10rem;
    }
    .emma-variant-quantity {
        grid-template-columns: 75% 25%;
    }
}

@media screen and (max-width: 768px) {
    .emma-product__heading {
        font-size: 2.5rem;
    }
    .emma-product-section4 {
        padding-top: 0;
    }
    .emma-product-section0 p {
        width: 90%;
    }
    .emma-product-section5__text {
        padding: 2rem 1rem 5rem;
    }
    .product {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .emma-product-section1__img-container {
        width: 75vw;
    }
    .emma-wave {
        width: 300px;
        height: 300px;
    }
    .emma-product-section1__container div:last-of-type {
        margin-top: 3rem;
    }
    .emma-product-section2 {
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    .emma-product-section2__button {
        margin-bottom: -1rem;
    }
    .emma-product-section2__background {
        display: none;
    }
    .emma-product-section4__item:last-of-type {
        margin-bottom: 5rem;
    }
    .emma-product-section2 button {
        width: 80%;
    }
}

@media screen and (max-width: 568px) {
    .product-slider {
        height: 5rem;
        width: 20%;
    }
    .emma-variant-quantity {
        grid-gap: 3rem;
        grid-template-columns: 100%;
    }
    .emma-product__quantity {
        padding-left: 0;
    }
    .indigo-box {
        width: 300px;
        height: 220px;
    }
    .indigo-box img {
        width: 300px;
    }
    .emma-product-section4__item__text {
        font-size: 1.2rem;
        line-height: 160%;
    }
    .emma-product__heading {
        font-size: 3rem;
        line-height: 114%;
    }
    .emma-product__sub-heading {
        font-size: 1.2rem;
        line-height: 100%;
    }
    .emma-product-section4__item {
        margin-bottom: 6rem;
    }
    .emma-product-section5__grid {
        font-size: 1.2rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }
    .emma-product-section2__button {
        margin-bottom: -4rem;
    }
    .emma-product-section5__img img {
        margin-right: -2rem;
        margin-top: -4rem;
        width: 20rem;
    }
    .emma-section {
        padding: 4rem 3rem;
    }
    .emma-product__title {
        font-size: 3rem;
        line-height: 114%;
    }
    .emma-product-section1__container div:last-of-type .emma-product__heading {
        margin-bottom: -5rem;
    }
    .emma-product-section0 {
        padding: 3rem 1rem;
    }
    .emma-scale {
        padding-top: 4rem;
    }
    .emma-product-section4 .emma-product__heading {
        font-size: 2rem;
        line-height: 127%;
    }
    .badge {
        display: none!important;
    }
    .emma-product__price .price--large,
    .emma-product .price .price-item,
    .price .price-item {
        font-size: 1.2rem;
    }
    .product .price {
        margin-bottom: 2rem;
    }
    .emma-product-section0 p {
        font-size: 1.2rem;
    }
    .emma-scale__body {
        font-size: 1.2rem;
    }
    .emma-scale__image {
        margin: 2rem auto;
    }
    .emma-bundle .vtl-product-card__details {
        grid-template-columns: 50% 1fr 1fr;
        grid-gap: 5px;
    }
}

@media screen and (max-width: 375px) {
    .indigo-box {
        width: 16rem;
        height: 12rem;
    }
    .indigo-box img {
        width: 16rem;
    }
    .emma-product-section2__asset img {
        margin-bottom: -9rem;
    }
}